* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0px 60px;
    padding: 0px 50px;
}

.imagage {
    padding: 5px;
    margin-top: 5px;
}


/* Base styles for navbar */
.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    color: rgb(14, 14, 14);
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #d65a5a;
}

.navbar img {
    height: 30px;
    width: auto;
    /* Allow logo width to adjust */
}

.navbar .navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .contact-button {
    background-color: rgb(167, 66, 66);
    color: #0c0a0a;
    border: 2px solid white;
    border-radius: 35px;
    padding: 10px 20px;
    margin-left: 20px;
    text-decoration: none;
}

.navbar .contact-button:hover {
    background-color: #d67c7c;
    color: #942323;
}

/* Button styles */
.button {
    display: inline-block;
    background-color: #ab2222;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 65px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #a92929;
}





@media (max-width: 600px) {
    body {
        overflow: auto;
        margin: 0;

        padding: 0;
    }

    .navbar {
        padding: 10px;

    }

    .navbar a {
        padding: 8px 12px;

        font-size: 12px;

    }

    .navbar img {
        height: 20px;

    }

    .navbar .contact-button {
        padding: 6px 12px;

        margin-left: 5px;

        font-size: 12px;

    }

    .button {
        font-size: 14px;

        padding: 8px 16px;

    }

    .container {
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;

    }

    .content_heading {
        width: auto;
        max-width: none;
        text-align: left;
        margin-bottom: 0;
    }


    .image-container {
        width: auto;
        max-width: none;
        height: 600px;

    }

    h1 {
        font-size: 32px;

    }

    .second-page-container {
        padding: 20px;

    }

    .second-box {
        width: 100%;

    }

    .content-container {
        padding: 20px 10px;

    }

    .botm-column {
        flex-basis: 100%;

        margin-bottom: 20px;

    }

}



@media (max-width: 734px) {
    body {
        overflow-x: hidden;
        font-family: Arial, sans-serif;
        margin: 0px 60px;
        padding: 0px 50px;
    }

    .service-container {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        flex-wrap: wrap;
        max-width: 900px;
    }



    user agent stylesheet div {
        display: block;
        unicode-bidi: isolate;
    }

    .service-section {
        margin: 50px;
        text-align: center;
        align-items: center;
    }

    body {
        overflow-x: hidden;
        font-family: Arial, sans-serif;
        margin: 0px 60px;
        padding: 0px 50px;
    }
}



@media (max-width: 345px) {
    .container {

        align-items: center;
        justify-content: space-around;
        text-align: center;
        background-color: #fff;
        margin: 10px 10px 10px 10px;
        padding: 30px 0px 50px 0;
    }

    /* body {
        overflow-x: hidden;
        flex: column;
        font-family: Arial, sans-serif;
        margin: 0px 30px;
        padding: 0px 30px;
    } */

    .service-container {
        display: column;
        justify-content: center;
        margin-left: 0px;
        flex-wrap: wrap;
        max-width: 500px;
    }



    user agent stylesheet div {
        display: block;
        unicode-bidi: isolate;
    }

    .service-section {
        margin: 50px;
        text-align: center;
        align-items: center;
    }

    .second-page-container {
        display: grid;
        justify-content: space-around;
        max-width: 800px;
        margin: 50px auto;
    }


}




.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #fff;
    padding: 30px 0px 50px 0;


}

.content_heading {
    width: 300px;
    text-align: left;
}

.content {
    height: 600px;
    width: 400px;
}

.image-container {
    height: 300px;
    width: 400px;
    margin-top: 15px;
    /* padding-top: 25px; */
    image-rendering: auto;
    object-fit: cover;
}


.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-bottom: 20px; */
}

h1 {
    color: #333;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 20px;
}

/* .button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;
/* } */
/* --------------------------------second page----------------------------------- */
.second-page h1 {
    text-align: center;

    text-decoration-color: #d65a5a;

}

.h2design {
    justify-items: center;
    text-align: center;

}

.second-page h2 {
    justify-items: center;
    text-align: center;
    color: #d65a5a;
    text-decoration: solid;
    margin: 10px;
}

.second-page-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 50px auto;
}



.second-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    justify-content: left;
    align-items: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.second-box img {
    background: #dcd7d7;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    margin-bottom: 20px;
}

.img-design {
    align-items: center;
    background: #dcd7d7;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 30%;
}






/* -------------third page ----------------------------*/
.third_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;

}

.image-container-page img {
    width: 330px;
    height: 438px;

}

.image-container-page {
    flex: 1;
    padding: 20px;
}

.image-container-page img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.content-container {
    flex: 2;
    padding: 20px;
}

.content-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #d65a5a;
}

.content-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #140d0d;
}

.content-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content-container button {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 54px;
    background-color: #d65a5a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content-container button:hover {
    background-color: #b58722;
}


.bottom-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.botm-column {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botm-column h1 {
    color: #333;
    font-size: 32px;
    line-height: 0.4;
    margin-bottom: 20px;
}



p {
    font-size: 14px;
    color: #666666;
    line-height: 1.5;
}






*/
/*------------------------------------------------------      fouth page styling ------------------------------*/

.fourth.page {
    margin: 50px auto;
    padding: 50px;
}

.service-section {
    margin: 50px;
    text-align: center;
    align-items: center;
}

.service-section h2 {
    color: #d65a5a;
}

.service-section h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.service-container {
    display: flex;
    justify-content: center;

    margin-left: 50px;
    flex-wrap: wrap;
    max-width: 900px;
}

.service-box {
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-box img {
    background: #dcd7d7;
    width: 30px;
    height: 30px;
    border-radius: 30%;


}

.box-content {
    padding: 0 15px;
}


.box-content h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    display: flex;
    flex-direction: start;
}

.service-boxh2 {
    text-align: left;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.service-box p {
    text-align: left;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.button-icons {
    text-align: center;
    margin-top: 40px;
}

.book-appointment {
    text-decoration: none;
}

.book-appointment button {
    width: 300px;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 54px;
    background-color: #d65a5a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-appointment button:hover {
    background-color: #d65a5a;
}

/* ------------------------------------------fifth page ----------------------------------------------- */

.fifth-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

    padding: 50px;
}

.left-section {
    text-align: left;
}

.right-section {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
}

/* Service box styles */
.box {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


.about-social-icons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* Social icon link styles */
.about-social-icons a {
    margin: 0 5px;
}

.underbox {
    display: flex;
}


.about-social-icons img {
    width: 25px;
    height: 25px;
    /* background: #666; */
}

/* Button styles */
button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 54px;
    background-color: #d65a5a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d65a5a;
}


/* ----------------------------------sixth page ---------------------------------------------- */

/* 
.sixth-container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;

}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title {
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    line-height: 1.2;

}

.testimonials {
    padding: 100px 0;

}

.testimonials-item {
    background-color: rgb(208, 201, 201);
    padding: 30px;
    border-radius: 30px;

}

.image {
    max-width: 160px;
    border-radius: 30%;
    margin-right: 20px;
    vertical-align: middle;

}

.testimonials-item .info {
    display: flex;
    align-items: center;

}

.testimonials-item .name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    line-height: 1.2;

}

.testimonials-item .job {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    line-height: 1.2;

}

.testimonials-item p {
    margin-top: 20px;
    color: gray;

}

.testimonials-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: yellow;
}

.sixth-container info imge {
    width: 150px;
    height: 150px;

} */


.sixth-container {
    max-width: 1110px;
    margin: 100px 50px;
    padding: 0 15px;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}



.section-header .title {
    font-size: 35px;
    font-weight: 500px;
    text-transform: capitalize;
    color: black;
    line-height: 1.2;
}

.testimonials-content {
    position: relative;
}

.testimonials-item {
    background-color: rgb(208, 201, 201);
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.info {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 20px;

}


.imge img {
    width: 60px;
    height: 60px;
    border-radius: 30%;

}


.text-box {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    line-height: 1.2;
}

.job {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    color: black;
    line-height: 1.2;
}

.testimonials-item p {
    margin-top: 20px;
    color: gray;
    margin-left: 10px;
}

.rating {
    margin-top: 15px;
    font-size: 20px;
    color: yellow;
}

.input-box {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    position: relative;
}

input {
    border: none;
    background: rgb(236, 225, 225);
    padding: 15px;
    width: 500px;
    border-radius: 30px;

}

button {
    border: none;
    border-radius: 30px;
    width: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #d65a5a;
    padding: 15px;
    color: white;
}

button:hover {
    color: #d65a5a;
}

.subscribe-button {
    padding: 20px;
    align-items: center;
    text-align: center;
}


/*  ---------------------------------------------footar design-------------------------------------------------- */


/* background-color: #9c9292;
    color: #fff;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; */
.footer {
    background-color: #f8f3f3;
    padding: 10px 30px;
    display: flex;
    width: 90%;
    height: 50%;
    padding: 25px;
    margin: 30px;
}

.footer-left {
    padding: 30 px;
    width: 25%;
}

.footer-left img {
    height: 80px;
    width: 100px;
}


.footer-right {
    padding: 30px;
    width: 90%;
    display: flex;
}

.foot {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.foot img {
    width: 30px;
    height: 30px;
}

.footer-column {
    width: 240px;
}

.soics {
    width: 120px;
}

.soics img {
    width: 30px;
    height: 30px;
}

.footer-img {
    padding-right: 10px;
    width: 40px;
    height: 35px;
    background: #f8f3f3;


}



@media (max-width: 345px) {
    body {
        overflow-x: hidden;
        font-family: Arial, sans-serif;
        margin: 0px 60px;
        padding: 0px 50px;
    }

    body {
        overflow-x: hidden;
        font-family: Arial, sans-serif;
        margin: 0px 60px;
        padding: 0px 50px;
    }

    :host,
    :root {
        --fa-style-family-classic: "Font Awesome 6 Free";
        --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
    }

    :host,
    :root {
        --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Free";
    }

    :host,
    :root {
        --fa-style-family-brands: "Font Awesome 6 Brands";
        --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
    }

    :root {
        --swiper-navigation-size: 44px;
    }

    :root {
        --swiper-theme-color: #007aff;
    }

    html {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }

    html {
        line-height: 1.15;
        text-size-adjust: 100%;
    }

    .service-container {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        flex-wrap: wrap;
        max-width: 900px;
    }

    * {
        padding: 0;
        margin: 0;
    }

    user agent stylesheet div {
        display: block;
        unicode-bidi: isolate;
    }

    .service-section {
        margin: 50px;
        text-align: center;
        align-items: center;
    }

    body {
        overflow-x: hidden;
        font-family: Arial, sans-serif;
        margin: 0px 60px;
        padding: 0px 50px;
    }

    :host,
    :root {
        --fa-style-family-classic: "Font Awesome 6 Free";
        --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
    }

    :host,
    :root {
        --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Free";
    }

    :host,
    :root {
        --fa-style-family-brands: "Font Awesome 6 Brands";
        --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
    }

    :root {
        --swiper-navigation-size: 44px;
    }

    :root {
        --swiper-theme-color: #007aff;
    }

    html {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }
}